<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <title>Skylab Academy</title>
    <link rel="stylesheet" href="/login.css">
    <link rel="icon" type="image/x-icon" href="/images/logo.ico">
</head>

<body>
    <div id="adminDashPage">
        <div style="height: 100px;"></div>

        <h1>Admin Dashboard</h1>
        <div class="formContainer">
            <h2 id="hidePayment">Ödeme Planı Oluştur</h2>
            <form id="odemeForm" style="max-width: 600px;display: flex;flex-direction: column;">

                <label for="kayitadi">Kayıt Adı</label><br>
                <input type="text" id="kayitadi" name="kayitadi" required><br><br>


                <label for="course">Kurs Adı</label><br>
                <input type="text" id="course" name="course" required><br><br>


                <label for="payPlan">Ödeme Planı</label>
                <input type="file" id="payPlan" name="payPlan" accept="image/*" required />

                <img id="imagePreview" class="file-preview" />

                <div style="height: 10px;"></div>

                <input type="submit" id="gonderButonu" value="Planı Oluştur">
            </form>

            <span id="yukleniyorAnimasyon" style="display: none;">⏳ Yükleniyor...</span>
            <div id="linkSonucu" style="margin-top: 20px; font-weight: bold;"></div>
        </div>
        <div id="signedDocumentsList"></div>
    </div>
    <!-- Scripts -->
    <script src="/planCreate.js"></script>
    <script src="/signedDocuments.js"></script>
</body>

</html>