<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <title>Skylab Academy</title>
    <link rel="stylesheet" href="/login.css">
    <link rel="icon" type="image/x-icon" href="/images/logo.ico">
</head>

<body>
    <div style="height: 100px;"></div>
    <h1>Admin Giriş</h1>
    <div class="loginDiv">
        <label for="username">Kullanıcı Adı</label>
        <input id="username" type="text">

        <div style="padding-top:20px;"></div>
        <label for="pass">Şifre</label>
        <input id="pass" type="password">

        <button id="loginBtn" style="margin-top: 20px;">Giriş Yap</button>

        <p id="error" style="color: red;"></p>
    </div>

    <script src="/login.js"></script>
</body>

</html>